{% extends 'base.html' %}

{% block titulo %}
    Dar de Baja
{% endblock titulo %}

{% block contenido %}
    <h2>Dar de Baja</h2>
    <form action="" enctype= "multipart/form-data" method="post" >{% csrf_token %} 
        <p>¿Seguro que desea Dar de Baja al representante {{ representantelegal.usuario }}?</p>
        {{ form.as_p }}
        <input class="btn btn-primary mb-5" type="submit" value="{{ accion }}">
        <a class="btn btn-danger mb-5" href="{{ previous }}">Cancelar</a>
    </form>

{% endblock contenido  %}